/* =============================================
   TRANSITIONS
   ============================================= */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.slide-enter {
    transform: translateY(100%);
}
.slide-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}
.slide-exit {
    transform: translateY(0);
}
.slide-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}